<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location access is needed for iBeacon tracking.</string>
	<key>NSContactsUsageDescription</key>
	<string>Access to your contacts is needed to load email addresses for users.</string>
	<key>NSCameraUsageDescription</key>
	<string>Access to the camera is needed for scanning pairing codes.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is needed to communicate with accessories.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
